.box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    white-space: pre-wrap;
  }

  .textArea {
    padding-top: 10px;
  }

  textarea {
    width: 600px;
    height: 300px;
  }

  