.box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    white-space: pre-wrap;
  }

  .textArea {
    padding-top: 10px;
  }

  textarea {
    width: 600px;
    height: 260px;
  }

  h1 {
    font-size: 40px;
  }

  p, textarea, button {
    font-size: 20px;
    font-weight: bolder;
  }

  